.event-calendar {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    flex: justify;
}

.event-calendar th,
.event-calendar td {
border: 1px solid #ddd;
height: 80px;
text-align: center;
flex: center;
}

.event-calendar th {
background-color: #f2f2f2;
}

.event-input {
    height: 100%;
    width:100%;
    padding:0px important! 
    }

.past {
background-color: #d3d3d3;
}

.present {
background-color: #ff6961;
}

.future {
background-color: #77dd77;
}

.hidden {
display: none;
}

#currentDay {
font-size: 24px;
margin-bottom: 20px;
}
img {
    height:50px;
}